<!DOCTYPE html>
<html lang="uk">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parimatch</title>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.css">
</head>
<body data-scroll-container>
    <section class="section section-1" data-scroll-section>
        <h2>Секція 1</h2>
    </section>

    <section class="section section-2" data-scroll-section>
        <h2>Секція 2</h2>
    </section>

    <section class="section slider-section sticky" data-scroll-section>
        <div class="slider-wrapper">
            <div class="slider-container">
                <div class="slide">
                    <div class="slide-inner">A 30-YEARS HISTORY OF SUCCES</div>
                </div>
                <div class="slide">
                    <div class="slide-inner">GLORY</div>
                </div>
                <div class="slide">
                    <div class="slide-inner">VICTORIES</div>
                </div>
            </div>
        </div>
    </section>

    <section class="section section-4" data-scroll-section>
        <h2>Секція 4</h2>
    </section>

    <section class="section section-5" data-scroll-section>
        <h2>Секція 5</h2>
    </section>

    <script src="https://cdn.jsdelivr.net/npm/locomotive-scroll@4.1.4/dist/locomotive-scroll.min.js"></script>
    <script src="../js/index.js"></script>
</body>
</html> 