<section class="section slider-section" data-scroll-section>
    <div class="slider-wrapper">
        <div class="slider-container">
            <div class="slide">
                <div class="slide-inner">
                    <span>A 30-YEARS HISTORY OF SUCCES</span>
                </div>
            </div>
            <div class="slide">
                <div class="slide-inner">
                    <span>GLORY</span>
                </div>
            </div>
            <div class="slide">
                <div class="slide-inner">
                    <span>VICTORIES</span>
                </div>
            </div>
        </div>
    </div>
</section>