<section class="section slider-section" data-scroll-section>
    <div class="slider-wrapper">
        <div class="slider-container">
            <div class="slide">
                <div class="slide-inner">
                    <div class="slide-wr">
                        <span>A 30-YEAR HISTORY OF SUCCES</span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide-inner">
                    <div class="slide-wr">
                        <span>GLORY</span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide-inner">
                    <div class="slide-wr">
                        <span>VICTORIES</span>
                    </div>
                </div>
            </div>
            <div class="slide">
                <div class="slide-inner">
                    <div class="slide-wr">
                        <span>AMBITIONS</span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
